graft h2
graft docs
graft test
graft visualizer
graft examples
prune docs/build
recursive-include examples *.py *.crt *.key *.pem *.csr
recursive-include utils *.sh
include README.rst LICENSE CHANGELOG.rst tox.ini Makefile
global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store
