graft src/h2
graft docs
graft tests
graft visualizer
graft examples

prune docs/build

recursive-include examples *.py *.crt *.key *.pem *.csr

include README.rst LICENSE CHANGELOG.rst pyproject.toml

global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store
exclude .readthedocs.yaml
